<div>
    <div>
        <div>
            <h1><i>HOME</i></h1>
            <p>login here</p>
            <a href="/admin/login">Login</a>
            <p>----------------------------------------</p>
            <p>add article here</p>
            <a href="/user/add-article">ADD ARTICLE</a>
        </div>
    </div>
</div>