<div>
    <div>
        <div>
            <h1><i>Login</i></h1>

            <form action="/admin/login" method="POST">
                <div>
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" placeholder="Enter Email" required />
                </div>
                <div>
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" placeholder="Enter Password" required />
                </div>
                <button type="submit">Login</button>

            </form>
        </div>
    </div>
</div>